* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Vidaloka', serif;
}

nav {
  background: #1b9bff;
  height: 80px;
  width: 100%;
}

label.logo img {
  padding-top: 5px;
  margin-left: 5rem;
  height: 70px;
  width: auto;
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 5rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-family: 'Vidaloka', serif;

  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 19px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 8px;
  text-shadow: 0px 3px 3px #191919, 0px 5px 4px #474747, 0px 7px 6px #323232, 0px 2px 3px #adadad;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #63b6f5;
  transition: all .5s ease 0s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

h3,
p {
  margin-top: 8px;
  margin-bottom: 8px;
  text-shadow: 0px 3px 3px #191919, 0px 5px 4px #474747, 0px 7px 6px #323232, 0px 2px 3px #adadad;

}

#check {
  display: none;
}

@media (max-width: 952px) {

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #4facf3;
    transition: all .5s ease 0s;
  }

  label.logo img {
    margin-left: 2rem;
  }

  nav ul li a {
    font-family: 'Vidaloka', serif;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;
    /* text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    text-shadow: 0px 3px 3px #191919, 0px 5px 4px #474747, 0px 7px 6px #323232, 0px 2px 3px #adadad;
  }

}

@media (max-width: 400px) {
    section div p{
    font-size: larger;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    text-shadow: 0px 3px 3px #191919, 0px 5px 4px #474747, 0px 7px 6px #323232, 0px 2px 3px #adadad;
  }


  #check:checked~ul {
    left: 0;
  }
}


section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

#welcome {
  z-index: -1;
  font-size: xx-large;
  text-shadow: none;
  margin: 10px 10px;
  text-align: center;
  background: linear-gradient(90deg, rgb(0, 0, 0), #fff, rgb(0, 0, 0));
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

section h2 {
  padding: 25px;
}

section p {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

header::before {
  background: url('../pics/8.jfif') no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  /* opacity: 0.5; */
}

section {
  font-size: 18px;
  /* flex-grow: 1; */
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Vidaloka', serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: flex; */
  /* border: 2px solid red; */
  width: auto;
  margin-top: 8px;
}

section p {
  text-transform: none;
  font-size: x-large;
}

.bottom {
  /* background-color: rgb(13, 232, 240); */
  background-color: #1b9bff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* font-size: small; */
  /* font-family: 'Times New Roman', Times, serif; */
}

.copyright {
  font-weight: 600;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  /* padding: 0px 5px; */
  font-size: 13px;
}

.privacy {
  cursor: pointer;
  color: blue;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

.terms {
  cursor: pointer;
  color: blue;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

.divider {
  width: 2px;
  background: blue;
}