html,
body {
    /* background-color: gray; */
    height: 100%;
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */

}

* {

    /* color: #cfc547; */

    margin: 0;
    padding: 0;
}
#welcome {
    text-shadow: none;
    margin: 10px 10px;
    text-align: center;
    background: linear-gradient(90deg, rgb(0, 0, 0), #fff, rgb(0, 0, 0));
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 4s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}
section h2{
    padding: 25px;
}
section p{
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
hr {
    height: 30px;
    border-style: solid;
    border-color: #2074F4;
    border-width: 4px 0 0 0;
}

header::before {
    background: url('8.jfif') no-repeat center center/cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    /* opacity: 0.5; */
}

/* section {
        height: 244px;
        display: flex;
        border: 2px solid red;
        /* margin: 3px 66px; */
/* flex-direction: column; */
/* width: 500px; */
/* margin: auto; */
/* padding: 200px 50px; */
/* justify-content: center; */
/* text-align: center; */
/* align-items: center; */
/* flex-wrap: wrap; */

section {
    font-size: 18px;
    flex-grow: 1;
    /* font-weight: bold; */
    height: 244px;
    /* border: 2px solid red; */
    /* margin: 3px 66px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Vidaloka', serif;


    /* color: white;
        text-shadow: 0px 3px 3px #191919,
                          0px 5px 4px #474747,
                          0px 7px 6px #323232,
                          0px  9px 9px #ADADAD; */

    /* color: #fff;
        text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 20px #fff,
          0 0 40px rgb(13, 232, 240),
          0 0 80px rgb(13, 232, 240),
          0 0 90px rgb(13, 232, 240),
          0 0 100px rgb(13, 232, 240),
          0 0 150px rgb(13, 232, 240); */
    text-transform: uppercase;
    color: #FFFFFF;

    text-shadow: 0 0 10px #FFFFFF;
    /* color: #FFFFFF;
text-shadow: 4px 3px 0 #7A7A7A; */
    /* color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00; */
    /* color: white;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15); */

    /* text-shadow: 0px 3px 3px #191919,
        0px 5px 4px #474747,
        0px 7px 6px #323232,
        0px 9px 9px #ADADAD; */
    /* text-shadow: 0 0 0.2em rgb(13, 232, 240) */
    /* text-shadow: 0 0 3px rgb(13, 232, 240); */
    /* color: white;
        text-shadow: 0 0 4px rgb(13, 232, 240); */
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1); */


    /* text-shadow: -1px 1px 0px #00e6e6,
             -2px 2px 0px #01cccc,
             -3px 3px 0px #00bdbd; */



    /* color: white;
-webkit-text-stroke: 1px #F8F8F8;
text-shadow: 0px 2px 4px rgb(13, 232, 240); */
}

.navbar {
    /* color: black; */
    background-color: rgb(13, 232, 240);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

    /* margin: 10px; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: flex; */
    /* border: 2px solid red; */
    width: auto;
    /* margin-top: 8px; */
}

.left img {
    margin-top: 2px;
    width: 108px;
    max-width: 100%;
    height: auto;
}

li {
    font-family: Arial, Helvetica,
        sans-serif;
    display: inline-flex;
    padding: 22px 7px;
    font-size: 19px;

}

li a {
    transition: all 0.3s ease 0s;
}

.container li a:hover {
    color: #00fa00;
    text-shadow: 0px 3px 3px #191919;
}

#home {
    color: #00fa00;

}

li a {
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 3px 3px #191919,
        0px 5px 4px #474747,
        0px 7px 6px #323232,
        0px 9px 9px #ADADAD;
    /* text-shadow: 2px 2px white, 1px 2px white; */
    /* color: white;
        text-shadow: 0 0 3px rgb(13, 232, 240); */
    text-decoration: none;


}

.bottom {
    background-color: rgb(13, 232, 240);

    position: fixed;
    bottom: 0;
    width: 100vw;
    /* width: 100vw;
        height: 5rem; */
    /* position: relative;  */
    /* height: 100px;
        margin-top: -100px;
        clear: both; */
    /* display: flex; */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: flex; */
    /* border: 2px solid red; */
    /* width: 1000px; */
    /* margin-top: 8px; */
    /* padding: 100px; */
    /* margin-top: 100px; */
    /* border: 2px solid red; */
}

.copyright {
    color: gray;
    /* margin-top: 26px; */
    padding: 0px 30px;
    font-size: 12px;
    /* padding: 2px 2px; */
}

.privacy {
    /* display: absolute; */
    /* padding: 0px 12px; */
    padding: 0px 17px;
    /* margin-top: 26px; */
    color: gray;
    font-size: 12px;
}

@media screen and (min-width: 100px) and (max-width: 360px) {
    li {
        padding: 8px 8px;
        font-size: 15px;
    }
}

@media screen and (min-width: 361px) and (max-width: 539px) {
    li {
        font-size: 18px;
        padding: 9px 9px;
    }
}

@media screen and (min-width: 540px) {
    li {
        font-size: 20px;
        padding: 22px 7px;
    }
}