html,
body {

  height: 100%;
  /* min-height: 100vh; */
  background-color: lightcyan;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Vidaloka', serif;
}

hr {
  height: 30px;
  border-style: solid;
  border-color: #2074F4;
  border-width: 4px 0 0 0;
}


nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.logo img {
  padding-top: 5px;
  padding-left: 70px;
  height: 70px;
  width: auto;
  cursor: pointer;

}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 35px;
  margin: 0 5px;
}

nav ul li a {
  line-height: 80px;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #4facf3;
  transition: all .5s ease 0s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo img {
    padding-left: 25px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #4facf3;
    transition: all .5s ease 0s;
  }
  nav ul li a {
    font-size: 17px;
    line-height: 0px;
    margin: 0 5px;
  }

  div.bubbles {
    width: fit-content;
    max-width: none;

  }

  div.games {
    width: fit-content;
  }

  .games img {
    max-width: none;
    max-width: fit-content;
  }

  .bubbles img {
    max-width: none;
    max-width: fit-content;
  }
}


@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  div.bubbles {
    width: fit-content;
    max-width: none;

  }

  div.games {
    width: fit-content;
  }

  .games img {
    max-width: none;
    /* max-width: fit-content; */
  }

  .bubbles img {
    max-width: none;
    /* max-width: fit-content; */
  }

  li {

    font-size: 20px;
    /* padding: 22px 7px; */
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    text-shadow: 0px 3px 3px #191919, 0px 5px 4px #474747, 0px 7px 6px #323232, 0px 2px 3px #adadad;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}



.left img {
  margin-top: 2px;
  width: 108px;
  max-width: 100%;
  height: auto;
}

.fullgames img {
  /* width: 75px; [1.1] Set it as per your need */
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* .fullgames img {
  transition: transform .5s ease
}

.fullgames img:hover {
  transform: scale(1.1);
} */

.fullgames {
  justify-content: space-evenly;
  margin-top: 25px;
  display: flex;
  text-align: justify;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  font-family: 'Vidaloka', serif;
}

.empty p {
  padding: 10px;
  margin: 10px;
  opacity: 0;
}

.games {
  /* border: 1px solid black; */
  /* height: 50%; */
  /* width: 320px; */
  /* min-width: 310px; */
  /* padding: 1rem; */
  box-sizing: border-box;
  /* margin: 2px; */
  padding: 1rem;
  width: 400px;


}

.bubbles {
  /* border: 1px solid black; */
  /* margin: 2px; */
  /* width: 320px; */
  box-sizing: border-box;
  padding: 1rem;
  width: 400px;
}

.games img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 100%;
  /* max-width: 400px; */

  box-sizing: border-box;

  border-radius: 10px;
}

.bubbles img {
  width: 100%;
  min-height: 184px;
  /* max-width: 400px; */
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  border-radius: 10px;

}

.bubbles {
  display: block;


}

h3,
p {
  margin-top: 8px;
  margin-bottom: 8px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


}


.bubbles a {
  color: black;
  text-decoration: none;
}

.games span {
  color: indigo;
}

.bubbles span {
  color: indigo;
}

.games a {
  color: black;
  text-decoration: none;

}

li {
  font-family: Arial, Helvetica,
    sans-serif;
  display: inline-flex;
  /* padding: 22px 7px; */
  font-size: 19px;

}

li a {
  font-family: 'Vidaloka', serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-shadow: 0px 3px 3px #191919,
    0px 5px 4px #474747,
    0px 7px 6px #323232,
    0px 2px 3px #ADADAD;
  text-decoration: none;

}

li a {
  transition: all 0.3s ease 0s;
}

.bottom {
  /* background-color: rgb(13, 232, 240); */
  background-color: #1b9bff;

  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright {

  color: black;
  font-family: 'Courier New', Courier, monospace;

  padding: 0px 5px;
  font-size: 12px;
}

.privacy {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 12px;
}

/* @media screen and (min-width: 100px) and (max-width: 360px) {
  li {
    padding: 8px 8px;
    font-size: 15px;
  }

}

@media screen and (min-width: 361px) and (max-width: 539px) {
  li {
    font-size: 18px;
    padding: 9px 9px;
  }

}

@media screen and (min-width: 540px) and (max-width: 800px) {
  li {
    font-size: 20px;
    padding: 22px 7px;
  }

  p {
    font-size: 20px;
  }

  div.bubbles {
    width: fit-content;
  }

  div.games {
    width: fit-content;
  }

  .games img {
    max-width: fit-content;
  }

  .bubbles img {
    max-width: fit-content;
  }
} */